{% extends "Master/MenuTemplate.html.twig" %}

{% block body %}
    <h1>Configuración WooSync</h1>

    <form method="post">
        <label>URL WooCommerce</label>
        <input type="text" name="woosync_url" value="{{ settings('woosync_url', '') }}" required>
        <br>
        <label>Consumer Key</label>
        <input type="text" name="woosync_key" value="{{ settings('woosync_key', '') }}" required>
        <br>
        <label>Consumer Secret</label>
        <input type="text" name="woosync_secret" value="{{ settings('woosync_secret', '') }}" required>
        <br>
        <button type="submit" name="action" value="save">Guardar</button>
        
<button type="submit" name="action" value="sync">Sincronizar ahora (test)</button>

    </form>
{% endblock %}
